{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Audio Annotations</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<div>   
    <h1>Audio Annotations</h1>
    <h2>Choose an audio file to annotate:</h2>

    <div class="audio_files">
        
        <div class="audio-select" id="associated-image">
            <img src="{% get_media_prefix %}/images/chimpanzee.svg" alt="My Image">
        </div>
        <div class="audio-select" id="dropdown-audio">
            <form action="{% url 'annotate' %}" method="post" name="selectform" id="selectform">
                {% csrf_token %}
                <select name="audio_file">
                    {% for audio_file in audio_files %}
                    <option value="{{ audio_file.id }}">{{ audio_file.file.name }}</option>
                    {% endfor %}
                </select>
            <button type="submit">annotate</button>
        </form>
        </div>
     </div>

    <form method="get" action="{% url 'upload' %}">
        {% csrf_token %}
        <button type="submit">Upload New File</button>
    </form>
</div>
</html>