/* background color of the page */
body {
  background-color: #faefe0;
  /*have font be hagrid:*/
  font-family: "Hagrid", sans-serif;
  
}
/* style the header */
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #d46bca;
}
h2 {
  background-color: #ccbb6c;
}

button, input[type=submit] {
  padding: 10px 20px;
  background-color: #fd883d;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover, input[type=submit]:hover {
  background-color: #fdaa7b;
}
/* style the select dropdown */
/* select {
  padding: 10px 20px;
  background-color: #553555;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */
/* Style the select dropdown */
select {
  /* Set the desired width */
  /* width: 200px; */
  /* Remove default styling */

  /* Add custom background, border, and text colors */
  background-color: #DABAD6;
  border: 1px solid #ccc;
  border-radius: 15px;
  color: #feffff;
  /* Add padding and margin */
  padding: 8px;
  margin: 4px 0;
  /* Add custom font and cursor */
  font-family: Arial, sans-serif;
  cursor: pointer;
}

/* Style the dropdown arrow */
select::after {
  content: '\25BC';
  /* Unicode character for a downward-pointing triangle */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  /* Add custom arrow color */
  color: #666;
  /* Adjust arrow size and spacing */
  font-size: 14px;
  pointer-events: none;
}

/* Style the select options */
/* select option {
  /* Add custom background and text colors */
  /* background-color: #f2f2f2;
  color: #333;
} */ */

/*style audio player by id*/

#audioPlayer {
  background-color: #d86262;
  color: #5b760a;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  height: 20px;
  list-style: circle;
  /*move the audio player to the center of the page*/
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;

}
/* make the page scrollable */
html {
  overflow-y: scroll;
}

/* #plot_wave {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  
} */

.waveform_label {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid #EAEAEA;
  background-color: #b0e0e6; */
  
}


.waveform_label #start_time,
.waveform_label #end_time {
  font-size: 1.2rem;
  font-weight: bold;
  /* width: 60px;
  text-align: center; */
  display: inline-block;
  background-color: #FFF;
  border: 1px solid #DDD;
}

.waveform_label select {
  margin-left: 1rem;
  font-size: 1.2rem;
  padding: 0.3rem;
}

.waveform_label #addtotable {
  position: relative;
  /* margin-left: auto; */
  font-size: 1.2rem;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.waveform_label #addtotable:hover {
  background-color: #388e3c;
}




/* below is the style for the table body  created by chatgpt */

table {
  background-color: #d6e7f2;
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  /* background-color: #fff; */
  border: 2px solid #d0d862;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

thead {
  background-color: #d0d862;
  color: #fff;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #d0d862;
  border: 1px solid black;
}

tr:hover {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:last-child {
  border-bottom: none;
}
/* style the button */

td button {
  padding: 10px 20px;
  background-color: #d0d862;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

td button:hover {
  background-color: #c3c34d;
}

/* style the table buttons with id table_buttons */
#table_buttons {
  position: relative;
  /*make postion relative to the table*/
  /* position: relative; */
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding: 30px 30px;  
}

#table_buttons button {
  padding: 10px 20px;
  background-color: #5d1c09;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#table_buttons button:hover {
  background-color: #995536;
  /* opacity: 0.2; */
}

/*wavesurfer region style*/
.wavesurfer-region:hover {
  opacity: 0.8 !important;
  cursor: pointer !important;
  /*color it red*/
  background-color: #d86262 !important;
  /* get start and end time*/
  content:attr(data-id) !important;
  display: block !important;
  /* add other styles here */
}

/* the below css doesn't work */
.wavesurfer-region:hover[data-label]:after {
  content: attr(data-label);
  display: block;
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}

/* let associated-image and dropdown-menu appear beside each other i.e relative to each other */
#associated-image {
  display: inline-block;
  width: 50%;
}
#dropdown-audio {
  display: inline-block;
  color: #fff;
/* relative to associated image place the dropdown menu */
  position: absolute;
  left: 70%;
  top: 60%;
  
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  padding: 30px 30px;  
}